:root {
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
}

body {
  
  box-sizing: border-box;

  font-family: 'Fredoka';
}

.cabecario {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 5rem;

  display: flex;
  flex-flow: row wrap;

  align-items: center;
  justify-content: space-around;

  font-size: large;

  background-color: rgb(255, 255, 255, 1);
}

.cabecario nav {
  width: 30rem;
}

.cabecario nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;
  list-style: none;
}

.cabecario nav ul li a {
  text-decoration: none;
}

main {
  margin-top: 5rem;
}

.apresentacao{
  display: flex;
background-image: url(../img/capa.jpg);
background-size: cover;
height: 40rem;
}

.alocacao{
  display: flex;
  flex-flow: row-reverse;
  width: 60vw;
  margin: 2rem auto;
}

.tarja_de_apresentacao{
  height: 10rem;
  background:fixed url(../img/fundo.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarja_de_apresentacao .ajuste{
background-color: aliceblue;

padding: 0.4rem 1rem;
border-radius: 10rem;

font-size: large;
}

.conteudo{
  width: 60vw;
  margin: 5rem auto;
  line-height: 2rem;
  text-align: justify;
  font-size: 1.6rem;
}

.conteudo h4{
  font-size: large;
  font-weight: bold;
  padding: 1.5rem 0;
  line-height: 1rem;
}

.aglomerado_de_imagens{
  margin: 0.5rem;  
}

.aglomerado_de_imagens img{
  height: 17rem;
}

p span{
  padding-left: 0.1rem;
  border-left: solid black 0.2rem;
}